<div class="row mb-2 d-flex justify-content-around">
	<div class="col-1 text-center font-weight-bold small">Foto</div>
	<div class="col-4 text-left font-weight-bold small">Nome</div>
	<div class="col-4 text-left font-weight-bold small">KPIs</div>
	<div class="col-2 text-center font-weight-bold small">Posição</div>
</div>

<div class="transition">
	<mat-list>
		<div class="box-item" *ngFor="let message of messages">
			<mat-list-item matRipple>				
				<img matListAvatar src="http://i.pravatar.cc/250" alt="Photo of a Shiba Inu">
				
				<div class="row ml-2 my-auto align-items-center">										
					<div class="col-4">				
						col 2
					</div>
					<div class="col-5 borders">
						<p>texto 1 - texto 1 - texto 1</p>
					</div>
					<div class="col-2" style="text-align: right;">
						752
					</div>
					<div class="col-1" style="text-align: left;">
						<i class="fa fa-sort-up fa-3x update-list" [style.color]="'green'"></i>
					</div>
				</div>
			</mat-list-item>
		</div>
	</mat-list>
</div>