<div class="page-content">
	<div class="wrap-page">
		<h3 class="title-page">User Details</h3>

		<div class="row d-flex justify-content-between">
			<!-- LADO ESQUERDO -->
			<div class="order-1 col-8">
				<div class="view-profile col-12 mb-4">
					<div class="row profile-infos">
						<div class="col-2" style="background-color: lightpink;">
							photo
						</div>
						<div class="col-5" style="background-color: lightgreen;">
							Nome / Cargo / Privilegios / ACTIVE y/n
						</div>
						<div class="col-5" style="background-color: lightcyan;">
							Company
						</div>
					</div>
					<div class="row profile-scores mt-2">
						<div class="col-3">
							TOTAL 1 <br>
							23
						</div>
						<div class="col-3">
							TOTAL 2 <br>
							23
						</div>
						<div class="col-3">
							TOTAL 3 <br>
							23
						</div>
						<div class="col-3">
							TOTAL 4 <br>
							23
						</div>
					</div>
				</div>

				<!-- CARD 1 - FORM PROFILE EDIT -->
				<div class="profile-card-1 mat-elevation-z3 col-12">
					Card Edit Profile Details
					<mat-card>

						<mat-card-title>
							Card title
						</mat-card-title>

						<mat-card-subtitle>
							Card subtitle
						</mat-card-subtitle>

						<mat-card-content>
							Primary card content. Intended for blocks of text
						</mat-card-content>

						<img mat-card-image>

						<mat-card-actions>
							Container for buttons at the bottom of the card
						</mat-card-actions>
						<mat-card-footer>
							footer card
						</mat-card-footer>

					</mat-card>
				</div>
			</div>

			<!-- LADO DIREITO -->
			<div class="order-2 col-4">
				<div class="profile-status">
					Card lateral direito.
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 
	INSPIRAÇÃO
	https://dribbble.com/shots/3898068-User-Profile
 -->