<div class="page-content">
	<div class="wrap-page">
		<h3 class="title-page">User Details</h3>

		<div class="row d-flex justify-content-between">
			<!-- LADO ESQUERDO -->
			<div class="order-1 col-8">

				<!-- VIEW PROFILE  -->
				<div class="view-profile col-12 mb-4">

					<!-- PROFILE INFOS -->
					<div class="row profile-infos d-flex justify-content-center">
						<div class="profile-photo m-0" style="background-color: lightpink;">
							photo
						</div>
						<div class="row profile-data flex-grow-1 m-0">
							<div class="col-6" style="background-color: lightgreen;">
								<p class="w-50">
									Nome / Cargo / Privilegios / ACTIVE y/n
								</p>
							</div>
							<div class="w-50" style="background-color: lightcyan;">
								<p class="d-inline-block">
									Company: <br>
									Alguma Companhia
								</p>
							</div>
						</div>
					</div>

					<!-- PROFILE SCORES -->
					<div class="row profile-scores d-flex justify-content-around flex-wrap mt-4">
						<div>
							TOTAL 1............... <br>
							23
						</div>
						<div>
							TOTAL 2............... <br>
							23
						</div>
						<div>
							TOTAL 3............... <br>
							23
						</div>
						<div>
							TOTAL 4............... <br>
							23
						</div>
					</div>
				</div>

				<!-- CARD 1 - FORM PROFILE EDIT -->
				<div class="profile-card-1 mat-elevation-z3 col-12">
					Card Edit Profile Details
					<mat-card>

						<mat-card-title>
							Card title
						</mat-card-title>

						<mat-card-subtitle>
							Card subtitle
						</mat-card-subtitle>

						<mat-card-content>
							Primary card content. Intended for blocks of text
						</mat-card-content>

						<img mat-card-image>

						<mat-card-actions>
							Container for buttons at the bottom of the card
						</mat-card-actions>
						<mat-card-footer>
							footer card
						</mat-card-footer>

					</mat-card>
				</div>
			</div>

			<!-- LADO DIREITO -->
			<div class="order-2 col-4">
				<div class="profile-status">
					Card lateral direito.
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 
	INSPIRAÇÃO
	https://dribbble.com/shots/3898068-User-Profile
 -->