//remover espço do header e footer. Para evitar ficar abaixo.
$montserrat: 'Montserrat', sans-serif;
$base-font: $montserrat;
$profile-photo-length: 150px;

.page-content {
	background-color: #F6F6F6;
	
	.wrap-page{		
		min-height: 95vh;
		//height: 100%;
		width: 85%;
		border: 1px dotted black;
		border-radius: 5px;
		
		//overflow-y: auto;
		
		.title-page{
			font-family: $base-font;
			font-weight: 400;
			margin-bottom: 1rem;
		}
		
		.view-profile {
			border: 1px dotted rgb(252, 23, 23);
			//height: 300px;
			background-color: rgb(156, 156, 156);

			.profile-infos {

				.profile-photo{
					height: $profile-photo-length;
					min-height: $profile-photo-length;
					width: $profile-photo-length;
					min-width: $profile-photo-length;
				}

				// .profile-data {
				// 	width: calc(100% - $profile-photo-length);
				// }
			}

			.profile-scores {
				height: 40%;
			}
		}
		
		.profile-card-1 {
			padding: 0px;
		}
		
		.profile-status{
			border: 1px detted blueviolet;
			background-color: lightblue;
			min-height: 500px;
		}		
	}	
}