<div class="page-content">
	<div class="wrap-page">
		<h1 class="title-page">User Details</h1>

		<div class="row d-flex justify-content-between">
			<!-- LADO ESQUERDO -->
			<div class="order-1 col-9">

				<!-- VIEW PROFILE  -->
				<div class="view-profile col-12 mb-4">

					<!-- PROFILE INFOS -->
					<div class="row profile-infos d-flex justify-content-center">
						<div class="profile-photo m-0">
							<img [src]="profileImg" class="rounded-circle" width="120px" height="120px" />
						</div>
						<div class="row profile-data flex-grow-1 m-0">
							<div class="col-7 profile-text">
								<div>
									<p class="profile-name">
										{{ userName }}
										<span class="badge badge-pill badge-info font-weight-light">ADMIN</span>
									</p>
								</div>
								<p class="profile-position">
									Software Engineer
								</p>
								<span class="active-status mat-elevation-z2">
									<i class="fas fa-circle mr-1"></i>
									ACTIVE</span>
							</div>
							<div class="col-4 profile-text">
								<p class="profile-name">
									Company
								</p>
								<p class="profile-position">
									{{ companyName }}
								</p>
							</div>
						</div>
					</div>

					<!-- PROFILE SCORES -->
					<div class="row profile-scores d-flex justify-content-around flex-wrap mt-4">
						<div>
							TOTAL 1............... <br>
							23
						</div>
						<div>
							TOTAL 2............... <br>
							23
						</div>
						<div>
							TOTAL 3............... <br>
							23
						</div>
						<div>
							TOTAL 4............... <br>
							23
						</div>
					</div>
				</div>

				<!-- CARD 1 - FORM PROFILE EDIT -->
				<div class="profile-card-1 mat-elevation-z3 col-12">
					Card Edit Profile Details
					<mat-card>

						<mat-card-title>
							Card title
						</mat-card-title>

						<mat-card-subtitle>
							Card subtitle
						</mat-card-subtitle>

						<mat-card-content>
							Primary card content. Intended for blocks of text
						</mat-card-content>

						<img mat-card-image>

						<mat-card-actions>
							Container for buttons at the bottom of the card
						</mat-card-actions>
						<mat-card-footer>
							footer card
						</mat-card-footer>

					</mat-card>
				</div>
			</div>

			<!-- LADO DIREITO -->
			<div class="order-2 col-3">
				<div class="profile-status">
					Card lateral direito.
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 
	INSPIRAÇÃO
	https://dribbble.com/shots/3898068-User-Profile
 -->