<div class="container">
	<!-- <h5 class="text-center">[Angular Material] "Table dynamically changing the columns displayed"</h5> -->
	<div class="mr-auto ml-auto">
		<div class="col-md-12">
			<div class="row">
				<p>Botoes</p>
			</div>

			<!-- Top3 Imagens -->
			<div class="row m-0">
				<!-- 1ºlugar -->
				<div class="col-4 col-sm-3 col-md-3 m-4 box order-2" (click)="viewProfile()">
					<img [src]="rankPicture1" class="rounded-circle img-thumbnail" />
					<img [src]="awardImg1" class="award aw-1 rounded-circle img-thumbnail" />
					<div class="row mt-4 justify-content-center">
						<p>Badge 1</p>
					</div>
				</div>

				<!-- 2ºlugar -->
				<div class="col-3 col-sm-2 col-md-2 m-auto box order-1" (click)="viewProfile()">
					<img [src]="rankPicture2" class="rounded-circle img-thumbnail" />
					<img [src]="awardImg2" class="award rounded-circle img-thumbnail" />
					<div class="row mt-4 justify-content-center">
						<p>Badge 2</p>
					</div>
				</div>

				<!-- 3ºlugar -->
				<div class="col-3 col-sm-2 col-md-2 m-auto box order-3" (click)="viewProfile()">
					<img [src]="rankPicture3" class="rounded-circle img-thumbnail" />
					<img [src]="awardImg3" class="award rounded-circle img-thumbnail" />
					<div class="row mt-4 justify-content-center">
						<p>Badge 3</p>
					</div>
				</div>
			</div>
			<hr />
			<!-- Ranking List -->
			<app-table-data></app-table-data>
		</div>
	</div>
</div>