$award-border-color: rgb(255, 219, 59);

// $tamanho_max: 150px;

.rank-top3 {
	cursor: pointer;
	//display: inline-flexbox;
}

.box {
	position: relative;

	.award {
		height: 25%;

		position: absolute;
		bottom: 23%;
		right: 4%;

		border: solid 3px $award-border-color;
		background: rgba($award-border-color, 0.50);

		&.aw-1 {
			background: rgba(250, 179, 26, 0.85);
			border: solid 4px $award-border-color;
			bottom: 18%;
			right: 2%;
		}
	}

	.progress {		
		height: 0.6rem;
	}	
}
