<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<h3 class="my-3 mr-md-auto font-weight-normal">
		Masters
		<p class="label-success label L1 mx-auto my-auto">
			<!-- <i class="fa fa-star-o"></i> -->
			<!-- <i class="fa fa-check-circle "></i> -->
			<i class="fa fa-arrow-up"></i>
		</p>
		Minds
	</h3>
	<nav class="my-2 my-md-0 mr-5 pull-right ">
		<button type="button" class="btn btn-outline-warning btn-round"><i class="fa fa-arrow-circle-up"></i>KPI
			A</button>
		<button type="button" class="btn btn-outline-primary btn-round"><i class="fa fa-arrow-down"></i>KPI B</button>
		<button type="button" class="btn btn-outline-success btn-round"><i class="fa fa-address-card"></i>KPI C</button>
		<button type="button" class="btn btn-outline-danger btn-round"><i class="fa fa-bars"></i>KPI D</button>
	</nav>
	<a class="btn btn-outline-primary pull-right" href="#">Sign up</a>
</div>

<!-- <hr> -->
<!--LINE - End Header -->