<div class="px-md-4 py-2 bg-white border-bottom shadow-sm">
	<div class="d-flex flex-column flex-md-row align-items-center">
		<h3 class="my-1 mr-md-auto">
			<img [src]="logoImg" class="p-1" width="15%" height="15%">
			Masters Minds
		</h3>
		<nav class="my-2 my-md-0 mr-5 pull-right ">
			<button type="button" class="btn btn-outline-warning btn-round"><i
					class="fa fa-arrow-circle-up mr-2"></i>KPI A
			</button>
			<button type="button" class="btn btn-outline-primary btn-round">
				<i class="fa fa-arrow-down mr-2"></i>KPI B
			</button>
			<button type="button" class="btn btn-outline-success btn-round">
				<i class="fa fa-address-card mr-2"></i>KPI C
			</button>
			<button type="button" class="btn btn-outline-danger btn-round">
				<i class="fa fa-bars mr-2"></i>KPI D
			</button>
		</nav>
		<a class="btn btn-outline-primary pull-right" href="#">Sign up</a>
	</div>
</div>

<!-- <hr> -->
<!--LINE - End Header -->
