$font-roboto:'Roboto', sans-serif;

* {
	overflow: hidden;
	
}

button{
	margin-left: 5px;
	margin-right: 5px;
}

.logo {
	cursor: pointer;
	padding-left: 24px;
	
	.logo-img{
		min-width: 36.8px;
		min-height: 36.8px;		
	}
}

//esconde a barra de scroll
.menu-overflow-hidden {
	overflow: hidden !important;
	max-width: none !important;

	.mat-menu-panel {
		max-width: none !important;
		overflow: hidden;
	}
}

.my-mat-tabs ::ng-deep .mat-tab-header {
	border-bottom: none;	
	//border: red 2px solid;	
	.mat-tab-label {
		min-width: 80px;

		.mat-tab-label-content {
			font-family: $font-roboto;
		}
	}
}


h3 {
	font-family: $font-roboto;
}