<div class="px-md-4 pt-1 bg-white border-bottom shadow-sm fixed-top">
	<div class="d-flex flex-md-wrap flex-md-row flex-row align-items-center">
		<!-- col-4 col-sm-3 col-md-3 -->
		<div class="d-flex flex-nowrap logo" (click)="goToHome()">
			<img [src]="logoImg" class="logo-img p-1" width="20%" height="20%">
			<h3 class="ml-1 pt-1 font-weight-bold">Masters</h3>
		</div>

		<!-- TODO: HABILITAR EM MEDIA-QUERY PARA WIDTH > 845px  -->
		<mat-tab-group class="my-mat-tabs font-weight-bold mt-n1">
			<mat-tab label="User Details"></mat-tab>
			<mat-tab label="Project Details"></mat-tab>
			<mat-tab label="User Comparer"></mat-tab>
			<mat-tab label="Hall of Fame"></mat-tab>
		</mat-tab-group>

		<div class="btn pull-right ml-auto right mt-n1">
			<button mat-raised-button [matMenuTriggerFor]="menu" class="mr-4">Pages</button>

			<!-- TODO: ESCONDER em media-query para WIDTH menor que 845px  -->
			<mat-menu #menu="matMenu" class="mt-2">
				<button mat-menu-item [routerLink]=" ['/home']">
					<i class="fa fa-trophy mr-2"></i> Home
				</button>
				<button mat-menu-item [routerLink]="['/profile']">
					<i class="fa fa-user-alt mr-2"></i> User Details
				</button>
				<button mat-menu-item [routerLink]="['/project']">
					<i class="fa fa-project-diagram mr-2"></i>Project Details
				</button>
				<button mat-menu-item [routerLink]="['/compare']">
					<i class="fa fa-user-friends mr-2"></i> Compare User
				</button>
				<button mat-menu-item [routerLink]="['/hall']">
					<i class="fa fa-star mr-2"></i> Hall of Fame
				</button>
			</mat-menu>
			<a mat-raised-button color="primary" href="#">Sair</a>
		</div>
	</div>
</div>

<!-- <hr> -->
<!--LINE - End Header -->